/*

!/composer.json
!/composer.lock
!/beam.json
!/*.docx
!/.htaccess
!/.gitignore
!/index.html
!/sitemap.xml
!/README.md
!/mysite/
!/docs
!/themes/
!/maintenance
!/assets/
/assets/*
!/assets/.htaccess
!/favicon.*

.DS_Store
